<section class="about-us" id="about-us">
  <div class="container">
    <picture class="about-us-sky">
      <!-- <source
        srcset="./img/sky-about-us.webp"
        type="image/webp"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/about-us-sky-mob.webp"
        type="image/webp"
        media="(min-width: 1px)"
      /> -->
      <img src="./img/sky-about-us.webp" alt="sky" />
    </picture>
    <img class="about-us-drone" src="./img/about-us-drone.webp" alt="drone" />
    <div class="section-title-content">
      <h1 class="section-title">про нас</h1>
    </div>
    <div class="section-content">
      <div class="section-desc-content">
        <p class="about-us-desc">
          <span class="text-bold">БПЛА комплекс «BLACKOUT»</span> титульний
          продукт компанії <span class="text-bold">«AVIAUA»</span> створений та
          <span class="text-bold">вироблений в Україні</span>, як гідна
          відповідь команди компанії на російську агресію.
        </p>
        <p class="about-us-desc">
          Ідея виникла в наслідок бажання засновників
          <span class="text-bold">«AVIAUA»</span> максимально швидко забезпечити
          Збройні Сили України простим, безпечним, ефективним та легкодоступним
          засобом знищення живої сили та техніки противника. Головна мета -
          знищити якомога більшу кількість ворога та мінімізувати втрати
          особового складу Збройних Сил України.
        </p>
      </div>

      <div class="section-verse">
        <p class="verse">
          І вам слава, сині гори, Кригою окуті.<br />І вам, лицарі великі, Богом
          не забуті.<br />Борітеся — поборете, Вам Бог помагає!<br />За вас
          правда, за вас слава,<br />І воля святая!
        </p>
        <p class="verse-author">Т.Г. Шевченко</p>
      </div>
    </div>
  </div>
</section>
