<section class="about-us" id="about-us">
  <div class="about-us-background">
    <img
      src="./img/about-us-sky-desktop.webp"
      alt="sky"
      class="about-us-sky-desktop"
    />
    <img
      src="./img/about-us-sky-mob.webp"
      alt="sky"
      class="about-us-sky-mobile"
    />
    <div class="container">
      <img class="about-us-drone" src="./img/about-us-drone.webp" alt="drone" />
      <div class="section-title-content">
        <h1 class="section-title">про нас</h1>
      </div>
      <div class="section-content">
        <ul class="section-desc-content">
          <li>
            <p class="about-us-desc">
              БПЛА комплекс <span class="text-bold">«BLACKOUT»</span> титульний
              продукт компанії <span class="text-bold">«AVIAUA»</span> створений
              та вироблений в Україні, як гідна відповідь команди компанії на
              російську агресію.
            </p>
          </li>
          <li>
            <p class="about-us-desc">
              Ідея виникла в наслідок бажання засновників
              <span class="text-bold">«AVIAUA»</span> максимально швидко
              забезпечити Збройні Сили України простим, безпечним, ефективним та
              легкодоступним засобом знищення живої сили та техніки противника.
            </p>
          </li>
          <li>
            <p class="about-us-desc">
              Головна мета - знищити якомога більшу кількість ворога та
              мінімізувати втрати особового складу Збройних Сил України.
            </p>
          </li>
          <li>
            <p class="about-us-desc">
              Наша місія – створити надійний і ефективний Військовий інструмент
              для забезпечення безпеки та стратегічної переваги нашим військам
              під час активних бойових дій. Ми працюємо, щоб забезпечити нашим
              військам інноваційні технології та розвідувальні рішення, які
              збільшують їхню безпеку, точність та перевагу.
            </p>
          </li>
          <li>
            <p class="about-us-desc">
              Наша команда орієнтується на стандарти ефективності та безпеки,
              гарантуючи, що наш <span class="text-bold">БПЛА</span> допоможе
              швидше прийти до миру і стабільністі в Україні.
            </p>
          </li>
        </ul>

        <div class="section-verse">
          <p class="verse">
            І вам слава, сині гори,<br />
            Кригою окуті. <br />І вам, лицарі великі,<br />
            Богом не забуті.<br />Борітеся — поборете,<br />
            Вам Бог помагає!<br />За вас правда, за вас слава,<br />І воля
            святая!
          </p>
          <p class="verse-author">Т.Г. Шевченко</p>
        </div>
      </div>
    </div>
  </div>
</section>
