<div class="burger-block">
  <div class="container">
    <a href="#" class="burger-link-logo">
      <svg class="burger-svg-logo" width="180" height="60">
        <use href="./img/sprite.svg#logo"></use>
      </svg>
    </a>
    <ul class="burger-menu-list">
      <li class="burger-menu-item">
        <a href="#advantages" class="burger-menu-link">переваги</a>
      </li>
      <li class="burger-menu-item">
        <a href="#advantages" class="burger-menu-link">ключові функції</a>
      </li>
      <li class="burger-menu-item">
        <a href="#about-us" class="burger-menu-link">про нас</a>
      </li>
      <li class="burger-menu-item">
        <a href="#methods" class="burger-menu-link">застосування</a>
      </li>
      <li class="burger-menu-item">
        <a href="#contacts" class="burger-menu-link">контакти</a>
      </li>
    </ul>
    <!-- <img src="./img/drone.png" alt="drone" class="burger-img" /> -->
    <h2 class="burger-title">blackout</h2>
  </div>
</div>
