<footer class="contacts" id="contacts">
  <div class="container">
    <address class="contacts-data">
      <p class="contact-label">контакти</p>
      <p class="contact-info">
        Якщо у вас виникли запитання, будь ласка, звʼяжіться з нами
      </p>
      <p class="contact-label">наш email</p>
      <a href="mailto:pizda.rusni@gmail.com" class="contact-info"
        >pizda.rusni@gmail.com</a
      >
      <p class="contact-label">наш телефон</p>
      <a href="tel:+380939716336" class="contact-info">+380 (93) 971-63-36</a>
    </address>
    <form action="submit" class="contacts-form">
      <fieldset class="contacts-form-block">
        <legend class="contacts-form-label">Напишіть нам</legend>
        <div class="input-container">
          <input type="text" id="name" required />
          <label for="name">Ім'я</label>
        </div>
        <div class="input-container">
          <input id="email" type="email" required />
          <label for="email">E-mail</label>
        </div>
        <div class="input-container">
          <textarea
            name="message"
            id="message"
            cols="1"
            rows="1"
            required
          ></textarea>
          <label for="message">ваше повідомлення</label>
        </div>
      </fieldset>
      <button type="submit" class="form-btn">Submit</button>
    </form>
  </div>
</footer>
