<header class="header">
  <div class="container">
    <button class="burger-icon burger-open" type="button">
      <svg>
        <use href="./img/sprite.svg#burger-menu"></use>
      </svg>
    </button>
    <ul class="header-slogan-list">
      <li class="header-slogan-item">
        <p class="header-slogan-text">слава україні</p>
      </li>
      <li class="header-slogan-item">
        <p class="header-slogan-text">смерть ворогам</p>
      </li>
    </ul>
    <nav class="header-nav">
      <a href="#" class="header-link-logo">
        <svg class="header-svg-logo" width="180" height="60">
          <use href="./img/sprite.svg#logo"></use>
        </svg>
      </a>
    </nav>
    <address class="header-address-content">
      <p class="header-address-text">телефон</p>
      <a href="tel:+380501234567" class="header-address-number"
        >+380 (50) 123-45-67</a
      >
    </address>
  </div>
</header>
