<section class="hero-section">
  <div class="hero">
    <div class="container">
      <nav class="hero-nav">
        <ul class="hero-nav-list">
          <li class="hero-nav-item">
            <a href="#advantages" class="hero-nav-link">переваги</a>
          </li>
          <li class="hero-nav-item">
            <a href="#advantages" class="hero-nav-link">ключові функції</a>
          </li>
          <li class="hero-nav-item">
            <a href="#about-us" class="hero-nav-link">про нас</a>
          </li>
          <li class="hero-nav-item">
            <a href="#methods" class="hero-nav-link">застосування</a>
          </li>
          <li class="hero-nav-item">
            <a href="#contacts" class="hero-nav-link">контакти</a>
          </li>
        </ul>
      </nav>
      <div class="hero-content">
        <div class="hero-content-descrition">
          <ul class="hero-desc-list">
            <li class="hero-desc-item">
              <svg class="hero-desc-svg" width="41" height="41">
                <use href="./img/sprite.svg#plus"></use>
              </svg>
              <p class="hero-desc-text">спостерігає</p>
            </li>
            <li class="hero-desc-item">
              <svg class="hero-desc-svg fill" width="41" height="41">
                <use href="./img/sprite.svg#plus"></use>
              </svg>
              <p class="hero-desc-text">фіксує</p>
            </li>
            <li class="hero-desc-item">
              <svg class="hero-desc-svg" width="41" height="41">
                <use href="./img/sprite.svg#plus"></use>
              </svg>
              <p class="hero-desc-text">знищує</p>
            </li>
          </ul>
          <p class="hero-descrition-text">
            Роботизований повітряний комплекс з безпілотним літальним апаратом
          </p>
        </div>
        <h1 class="hero-title">blackout-1</h1>
      </div>
      <img class="hero-img" src="./img/drone-hero.webp" alt="drone"></img>
    </div>
  </div>
</section>
