<section class="partners-section">
  <div class="container">
    <h2 class="partners-title">з нами взаємодіють</h2>
    <ul class="partners-list">
      <li class="partners-item">
        <img src="./img/part-1.webp" alt="part-1" class="partners-img" />
        <p class="partners-item-desc">Сухопутні Війська ЗСУ</p>
      </li>
      <li class="partners-item">
        <img src="./img/part-2.webp" alt="part-2" class="partners-img" />
        <p class="partners-item-desc">Артилерія ЗСУ</p>
      </li>
      <li class="partners-item">
        <img src="./img/part-3.webp" alt="part-3" class="partners-img" />
        <p class="partners-item-desc">ССО ЗСУ</p>
      </li>
      <li class="partners-item">
        <img src="./img/part-4.webp" alt="part-4" class="partners-img" />
        <p class="partners-item-desc">Контррозвідка СБУ</p>
      </li>
      <li class="partners-item">
        <img src="./img/part-5.webp" alt="part-5" class="partners-img" />
        <p class="partners-item-desc">ГУР</p>
      </li>
      <li class="partners-item">
        <img src="./img/part-6.webp" alt="part-6" class="partners-img" />
        <p class="partners-item-desc">Сили Територіальної Оборони</p>
      </li>
    </ul>
  </div>
</section>
