<section class="payments-section">
  <div class="payments-background">
    <img
      src="./img/payments-sky-desktop.webp"
      alt="sky"
      class="payments-sky-desktop"
    />
    <div class="container">
      <h2 class="payments-title">Долучайтесь до нашої місії</h2>
      <ul class="payments-desc-list">
        <li class="payments-desc-item">
          <p class="payments-desc-text">
            Ваші пожертви, донати та фінансова підтримка грають важливу роль у
            забезпеченні функціонування та розвитку нових проектів. Кожен
            внесок, незалежно від його розміру, важливий для нас і допоможе нам
            забезпечити безпеку та захист нашої країни разом із Захисниками
            України.
          </p>
        </li>
        <li class="payments-desc-item">
          <p class="payments-desc-text">
            Якщо у вас є будь-які питання або потрібна додаткова інформація,
            будь ласка, звертайтеся до нашої служби підтримки за контактними
            даними, наведеними на нашому веб-сайті.
          </p>
        </li>
      </ul>
      <h2 class="payments-title-info">Реквізити</h2>
      <ul class="payments-list"></ul>
    </div>
  </div>
</section>
