<section class="payments-section">
  <div class="container">
    <picture class="payments-sky-desk">
      <source
        srcset="./img/sky-payments-desk.webp"
        type="image/webp"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/sky-payments-mob.webp"
        type="image/webp"
        media="(min-width: 0px)"
      />
      <img src="./img/sky-payments-mob.webp" alt="sky" />
    </picture>

    <h2 class="payments-title">реквізити</h2>
    <ul class="payments-list"></ul>
    <img class="payments-drone" alt="drone" src="./img/payments-drone.png" />
  </div>
</section>
