<section class="training-section">
  <div class="container">
    <svg class="icon-training-school" width="300" height="200">
      <use href="./img/sprite.svg#icon-training-school"></use>
    </svg>

    <ul class="training-content">
      <li><p class="training-desc-title text-accent">ЛІТАЄМО & НАВЧАЄМО</p></li>
      <li>
        <p class="training-desc text-bold">
          Підготовка операторів для БПЛА комплексу «BLACK-ОUT» проводиться
          «ПЕРШОЮ ЛЕТУНСЬКЮЇ ШКОЛОЮ».
        </p>
      </li>
      <li>
        <p class="training-desc">
          По завершенню підготовки оператори отримують сертифікати державного
          зразка
          <span class="text-bold"
            >«БАЗОВИЙ <span class="text-accent">КУРС УПРАВЛІННЯ</span> БПЛА
            ЛІТАКОВОГО ТИПУ»</span
          >.
        </p>
      </li>
      <li>
        <p class="training-desc">
          Підготовлені оператори, які попередньо делеговані замовником,
          приймають виготовлений для нього борт.
        </p>
      </li>
    </ul>
  </div>
</section>
