<section class="training-section">
  <div class="container">
    <svg class="icon-training-school" width="300" height="200">
      <use href="./img/sprite.svg#icon-training-school"></use>
    </svg>
    <div class="training-content">
      <p class="training-desc-one">ЛІТАЄМО & НАВЧАЄМО</p>
      <p class="training-desc-two">
        Підготовка операторів для БПЛА комплексу «BLACK-ОUT» проводиться «ПЕРШОЮ
        ЛЕТУНСЬКЮЇ ШКОЛОЮ».
      </p>
      <p class="training-desc-three">
        По завершенню підготовки оператори отримують сертифікати державного
        зразка <span>«БАЗОВИЙ КУРС УПРАВЛІННЯ БПЛА ЛІТАКОВОГО ТИПУ»</span>.
        Підготовлені оператори, які попередньо делеговані замовником, приймають
        виготовлений для нього борт.
      </p>
    </div>
    <img
      src="./img/training-drone-mob.png"
      alt="drone"
      class="training-drone-mob"
    />
  </div>
</section>
