.about-us {
  background-color: var(--accent);
  padding: 0;
  position: relative;
}

.about-us .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 15px 120px;
  gap: 25px;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  z-index: 1;
}

.section-title-content {
  display: flex;
  gap: 15px;
  align-items: center;
}

.about-us-svg {
  fill: transparent;
  stroke: var(--main-black);
}

.section-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 125%;
  text-transform: uppercase;
  color: var(--main-black);
  margin-bottom: -10px;
  z-index: 1;
}

.section-desc-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-us-desc {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.about-us .text-bold {
  font-weight: 800;
}

.verse {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 20px */
  border-left: 3px solid rgba(0, 0, 0, 0.5);
  padding-left: 23px;
  margin-bottom: 10px;
}

.section-verse {
  padding-right: 40px;
}

.verse-author {
  text-align: right;
  font-size: 12px;
  font-style: italic;
  font-weight: 700;
  line-height: 125%;
  text-transform: uppercase;
}

.about-us-sky {
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: fill;
}

.about-us-drone {
  position: absolute;
  bottom: -60px;
  width: 400px;
  left: 0;
  width: 90%;
}

@media screen and (min-width: 1280px) {
  .about-us {
    background-image: linear-gradient(
        rgb(255, 255, 255, 0.95),
        rgb(255, 255, 255, 0.95)
      ),
      url(../img/bcg.webp);
  }

  .about-us .container {
    padding: 40px 60px 280px;
    gap: 40px;
    background-color: var(--accent);
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.2);
    border-radius: 14px;
    overflow: hidden;
    position: relative;
  }

  .about-us-sky {
    bottom: 0;
    left: 0;
    transform: unset;
  }

  .about-us-drone {
    position: absolute;
    bottom: 60px;
    left: 60px;
    width: 500px;
    transform: unset;
  }

  .section-title {
    font-size: 36px;
  }

  .section-content {
    display: grid;
    grid-template-columns: 1fr 350px;
    color: #594001;
  }

  .verse {
    font-size: 24px;
    margin-bottom: 20px;
    border-left: 3px solid #594001;
  }

  .about-us-desc {
    font-size: 16px;
  }
  .verse-author {
    font-size: 16px;
  }
}
