.burger-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(rgb(0, 0, 0, 0.95), rgb(0, 0, 0, 0.95)),
    url(../img/bcg.png),
    linear-gradient(rgb(255, 255, 255, 1), rgb(255, 255, 255, 1));
  padding: 0px 0px 40px;
  color: var(--main-white);
  transform: translateX(-100%);
  opacity: 0;
  transition: all var(--transition);
  z-index: 99;
}

.burger-block.is-open {
  transform: translateX(0);
  opacity: 1;
}

.burger-block .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 5px 15px;
}

.burger-header {
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  width: 100%;
}

.burger-menu-item {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.burger-menu-list {
  padding: 60px 0;
}

.burger-link-logo {
}

.burger-svg-logo {
  width: 112px;
  height: 38px;
  fill: var(--main-white);
}

.burger-title {
  text-transform: uppercase;
  color: var(--accent);
  font-size: 36px;
  font-weight: 900;
}

.burger-menu-link {
  font-size: 16px;
  font-weight: 500;
}

.burger-img {
  display: none;
  transform: scale(4) translateX(-15%);
}

.burger-block.is-open .burger-img {
  display: block;
}

body.menu-open {
  position: fixed;
}
