.burger-icon {
  position: absolute;
  top: 15px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  width: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.burger-open {
  left: 0px;
}

.burger-close {
  right: 0;
}

.burger-icon svg {
  width: 20px;
  height: 20px;
}

.burger-icon.burger-open svg {
  stroke: var(--main-white);
}

.burger-icon.burger-close svg {
  stroke: var(--main-white);
}

@media screen and (min-width: 768px) {
  .burger-icon {
    display: none;
  }
}
