.contacts {
  /* background-image: linear-gradient(
      rgb(255, 255, 255, 0.9),
      rgb(255, 255, 255, 0.9)
    ),
    url(../img/bcg.png); */
  padding: 25px 10px 10px;
  background-image: linear-gradient(rgb(0, 0, 0, 0.98), rgb(0, 0, 0, 0.98)),
    url(../img/bcg.webp);
}

.contacts .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 31px;
  /* background-image: linear-gradient(rgb(0, 0, 0, 0.95), rgb(0, 0, 0, 0.95)),
    url(../img/bcg.png); */
  /* box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.3); */
  padding: 35px 15px;
}

.contacts-data {
  max-width: 200px;
}

.contact-label {
  color: var(--accent);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.contact-info {
  display: block;
  color: var(--main-white);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 36px;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.contacts-form-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  padding: 0;
}

.contacts-form-label {
  color: var(--accent);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

textarea {
  resize: none;
}

.form-btn {
  padding: 7px 20px;
  border: none;
  color: var(--main-white);
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 50px;
  border: 1px solid var(--accent);
  background-color: transparent;
  transition: all var(--transition);
}

.form-btn:is(:hover, :focus, :active) {
  background-color: var(--accent);
  color: var(--main-black);
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.5);
}

.input-container {
  position: relative;
  margin-bottom: 28px;
}
.input-container label {
  position: absolute;
  top: 5px;
  left: 0px;
  font-size: 12px;
  font-weight: 500;
  color: var(--main-white);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  display: block;
}
.input-container input,
.input-container textarea {
  border: 0;
  border: none;
  border-bottom: 3px solid #555;
  background: transparent;
  width: 100%;
  padding: 5px 0;
  font-size: 12px;
  color: var(--main-white);
  border-radius: 0;
  outline: none;
}

.input-container input:focus,
.input-container textarea:focus {
  border: none;
  border-bottom: 3px solid var(--accent);
  outline: none;
}

.input-container input:focus ~ label,
.input-container input:is(:valid) ~ label,
.input-container textarea:focus ~ label,
.input-container textarea:is(:valid) ~ label {
  top: -12px;
  font-size: 12px;
}

@media screen and (min-width: 1280px) {
  .contacts {
    padding: 20px 20px 25px;
  }

  .contacts .container {
    padding: 80px 60px;
    flex-direction: row;
  }

  .contacts-data {
    max-width: 400px;
  }

  .contact-label {
    font-size: 24px;
  }

  .contact-info {
    font-size: 16px;
  }

  .contacts-form {
    width: 400px;
  }

  .contacts-form-label {
    font-size: 24px;
  }

  .input-container {
    margin-bottom: 36px;
  }

  .input-container label {
    font-size: 16px;
    top: 12px;
  }

  .input-container input,
  .input-container textarea {
    padding: 10px 0;
    font-size: 16px;
  }

  .form-btn {
    font-size: 16px;
    padding: 10px 30px;
  }
}
