.contacts {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 40px 20px;
  background-image: linear-gradient(
      rgb(255, 255, 255, 0.9),
      rgb(255, 255, 255, 0.9)
    ),
    url(../img/bcg.png);
  background-size: cover;
}

.contacts .container {
  padding: 150px 215px;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  background-image: linear-gradient(rgb(0, 0, 0, 0.95), rgb(0, 0, 0, 0.95)),
    url(../img/bcg.png);
  background-size: cover;
  box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.3);
}

.contacts-data {
  max-width: 437px;
}

.contact-label {
  color: var(--accent);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contact-info {
  display: block;
  color: var(--main-white);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 36px;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.contacts-form-block {
  display: flex;
  flex-direction: column;
  width: 523px;
  border: none;
}

.contacts-form-label {
  color: var(--accent);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

textarea {
  resize: none;
}

.form-btn {
  padding: 10px 40px;
  border: none;
  background-color: var(--accent);
  color: var(--main-white);
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 50px;
}

.input-container {
  position: relative;
  margin-bottom: 60px;
}
.input-container label {
  position: absolute;
  top: 10px;
  left: 0px;
  font-size: 20px;
  font-weight: 500;
  color: var(--main-white);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
}
.input-container input,
.input-container textarea {
  border: 0;
  border-bottom: 3px solid #555;
  background: transparent;
  width: 100%;
  padding: 15px 0 5px 0;
  font-size: 20px;
  color: var(--main-white);
}

.input-container input:focus,
.input-container textarea:focus {
  border: none;
  outline: none;
  border-bottom: 3px solid var(--accent);
}

.input-container input:focus ~ label,
.input-container input:is(:valid) ~ label,
.input-container textarea:focus ~ label,
.input-container textarea:is(:valid) ~ label {
  top: -12px;
  font-size: 12px;
}
