.header {
  height: 55px;
  width: 100%;
  background-color: var(--main-white);
  z-index: 10;
  position: fixed;
  top: 0;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
  transition: all var(--transition);
}

.header.header-hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.header .container {
  padding: 5px 15px;
}

.header-text {
  display: none;
}

.header-svg-logo {
  width: 112px;
  height: 38px;
  transition: all var(--transition);
  z-index: 10;
  fill: var(--main-black);
}

.header-svg-logo.is-open {
  fill: var(--main-white);
  z-index: 200;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .header-text {
    display: block;
  }

  .header-nav {
    justify-content: space-around;
  }

  .header-text {
    display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 125%;
    text-transform: uppercase;
  }

  .header-svg-logo {
    width: 130px;
    height: 43px;
  }

  .header-svg-logo {
    transition: all var(--transition);
  }

  .header-svg-logo:is(:hover, :focus) {
    fill: var(--accent);
  }
}

@media screen and (min-width: 1920px) {
}
