.header {
  width: 100%;
  background-color: transparent;
  z-index: 10;
  position: fixed;
  top: 0;
  transition: all var(--transition),
    background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-scroll {
  background: linear-gradient(
    90deg,
    rgba(21, 23, 20, 1) 0%,
    rgba(21, 24, 18, 1) 50%,
    rgba(28, 29, 24, 1) 100%
  );
  box-shadow: 0 0 15px 0px rgba(86, 86, 86, 0.6);
}

.header.header-hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.header .container {
  padding: 10px 15px;
}

.header-text {
  display: none;
}

.header-svg-logo {
  width: 112px;
  height: 38px;
  transition: all var(--transition);
  z-index: 10;
  fill: var(--main-white);
}

.header-svg-logo.is-open {
  fill: var(--main-white);
  z-index: 200;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .header-text {
    display: block;
  }

  .header-nav {
    justify-content: space-around;
  }

  .header-text {
    display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 125%;
    text-transform: uppercase;
  }

  .header-svg-logo {
    width: 130px;
    height: 43px;
  }

  .header-svg-logo {
    transition: all var(--transition);
  }

  .header-svg-logo:is(:hover, :focus) {
    fill: var(--accent);
  }
}

@media screen and (min-width: 1920px) {
}
