.hero {
  padding: 0 40px;
  max-width: 1920px;
  box-sizing: border-box;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 180px 300px;
  position: relative;
  box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.3);
  border-radius: 40px;
  background-color: var(--main-black);
  background-image: url(../img/sky.png);
  background-size: 101%;
  background-repeat: no-repeat;
}

.hero-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 260px;
}

.hero-nav-link {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all var(--transition);
}

.hero-nav-link:is(:hover, :focus) {
  color: var(--accent);
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hero-title {
  text-transform: uppercase;
  transform: rotate(90deg);
  color: var(--accent);
  font-size: 130px;
  font-style: normal;
  font-weight: 900;
  line-height: 125%;
  letter-spacing: -0.02em;
  display: block;
  margin-right: -200px;
  z-index: 0;
  transition: all var(--transition);
}

/* .hero .container:is(:hover, :focus) .hero-title {
  transform: rotate(90deg) scale(1.05);
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
  z-index: 2;
} */

.hero-img {
  position: absolute;
  top: 220px;
  width: 90%;
  height: 800px;
  left: 50px;
  z-index: 0;
  background-image: url('../img/drone.png');
  background-repeat: no-repeat;
  background-size: 90%;
}

.hero-desc-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-desc-text {
  color: var(--main-white);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: -10px;
}

.hero-desc-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 21px;
}

.hero-descrition-text {
  color: var(--main-white);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 474px;
  padding-left: 50px;
}

.hero-desc-svg {
  stroke: var(--accent);
}

.fill {
  fill: var(--accent);
}

.hero-content-descrition {
  z-index: 1;
}
