.hero-section {
  padding: 70px 0 0;
  background-color: var(--main-black);
  background-image: url(../img/hero-mobile-sky.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  margin: 0 auto;
}

.hero-nav {
  display: none;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 42px 15px 80px;
  position: relative;

  color: var(--main-white);
  height: 752px;
}

.hero-content {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-title {
  text-transform: uppercase;
  background: linear-gradient(
    180deg,
    #ffb803 -19.57%,
    rgba(71, 52, 3, 0.26) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 30px;
  font-size: min(13vw, 50px);
  font-style: normal;
  font-weight: 900;
  line-height: 125%;
  display: block;
  transition: all var(--transition);
  z-index: 1;
}

.hero-desc-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-desc-text {
  color: var(--main-white);
  font-size: min(10vw, 36px);
  font-style: normal;
  font-weight: 800;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
}

.hero-desc-svg {
  margin-top: -10px;
  fill: transparent;
  stroke: var(--accent);
  width: 22px;
  height: 22px;
}

.fill {
  fill: var(--accent);
}

.hero-content-descrition {
  z-index: 1;
  margin-bottom: 30px;
}

.hero-desc-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.hero-descrition-text {
  color: var(--main-white);
  font-size: min(4vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 35px;
  letter-spacing: 0.06em;
}

.hero-img {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 0;
  transform: scale(1);
}

@media screen and (min-width: 1280px) {
  .hero {
    background-image: url('../img/sky.webp');
    max-width: 1920px;
  }

  .hero .container {
    padding: 20px 60px 56px;
    border-radius: 14px;
    height: auto;
  }

  .hero-content {
    padding-top: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hero-title {
    position: static;
    writing-mode: vertical-lr;
    font-size: 90px;
    padding-left: 0;
    color: var(--accent);
  }

  .hero-nav {
    display: block;
  }

  .hero-nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 18px;
  }

  .hero-nav-link {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all var(--transition);
  }

  .hero-nav-link:is(:hover, :focus) {
    color: var(--accent);
  }

  .hero-desc-text {
    font-size: 48px;
  }

  .hero-descrition-text {
    font-size: 16px;
    max-width: 371px;
    padding-left: 50px;
  }

  .hero-desc-svg {
    width: 35px;
    height: 35px;
  }

  .hero-img {
    top: 80px;
    left: 400px;
    transform: scale(1);
    width: 700px;
  }
}
