.methods {
  padding: 28px 0;
}
.methods .container {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.methods-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 125%;
  text-transform: uppercase;
  max-width: 212px;
}

.methods-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.method-desc {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}

.method-number {
  display: block;
  color: var(--main-black);
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 125%;
}

@media screen and (min-width: 1280px) {
  .methods {
    padding-top: 40px;
  }

  .methods .container {
    padding: 0 80px 20px;
  }

  .methods-title {
    margin-bottom: 40px;
    font-size: 36px;
    max-width: 100%;
  }

  .methods-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 60px;
  }

  .method-item {
    grid-template-columns: 60px 1fr;
  }

  .method-number {
    font-size: 24px;
    margin-top: -10px;
  }

  .method-desc {
    font-size: 16px;
  }
}
