.methods {
  padding-top: 0;
}
.methods .container {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.methods-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  max-width: 212px;
}

.methods-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.method-item {
  display: grid;
  grid-template-columns: 40px 1fr;
}

.method-desc {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  border-left: 5px solid var(--accent);
  padding-left: 20px;
}

.method-number {
  display: block;
  color: var(--accent);
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 125%;
  margin-top: -7px;
  padding-right: 20px;
}
