.payments-section {
  background-color: var(--accent);
}
.payments-section .container {
  padding: 25px 10px 220px;
  position: relative;
}

.payments-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.payments-title {
  text-transform: uppercase;
  color: var(--main-black);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 24px;
  max-width: 80%;
}

.notyf {
  padding: 20px !important;
}

.notyf .clipboard-notif-success {
  border-radius: 21px;
  max-width: 100%;
  background-color: var(--main-black);
  box-shadow: 0 0px 7px 0 rgba(255, 184, 3, 0.9);
  font-size: 14px;
}

.payments-sky-desk {
  position: absolute;
  bottom: 0;
  left: 0;
  mix-blend-mode: luminosity;
  object-fit: cover;
  width: 100%;
  border-radius: 14px;
}

.payments-sky-desk img {
  max-width: unset;
  object-fit: cover;
  width: 100%;
  border-radius: 14px;
}

.payments-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  z-index: 1;
}

.payments-label {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  color: var(--main-black);
}

.payments-desc {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 14px;
}

.payments-button {
  padding: 10px 20px;
  border-radius: 16px;
  background-color: var(--main-black);
  color: var(--main-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 5px;
  transition: all var(--transition);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}

.payments-button:is(:hover, :focus, :active) {
  color: var(--accent);
}

.icon-copy {
  fill: var(--main-white);
  width: 10px;
  height: 10px;
}

.payments-button:is(:hover, :focus, :active) .icon-copy {
  fill: var(--accent);
}

.payments-drone {
  position: absolute;
  bottom: 20px;
  transform: scale(1.2);
}

@media screen and (min-width: 1280px) {
  .payments-section .container {
    padding: 40px 60px 80px;
  }

  .payments-title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 28px;
  }

  .payments-list {
    gap: 60px;
  }

  .payments-item {
    width: calc((100% - 60px) / 2);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    z-index: 1;
  }

  .payments-label {
    font-size: 24px;
  }

  .payments-desc-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 0;
  }

  .payments-desc {
    align-self: end;
    margin-bottom: 0;
  }

  .payments-button {
    align-self: end;
    padding: 10px 15px;
    border-radius: 21px;
    background-color: var(--main-black);
    color: var(--main-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 8px;
    transition: all var(--transition);
    font-size: 14px;
  }

  .icon-copy {
    width: 14px;
    height: 14px;
  }

  .payments-desc {
    color: var(--main-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
  }

  .notyf .clipboard-notif-success {
    font-size: 16px;
  }

  .payments-drone {
    display: none;
  }
}
