@import url('./reset.css');
@import url('./header.css');
@import url('./burger-icon.css');
@import url('./burger-menu.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./about-us.css');
@import url('./methods.css');
@import url('./footer.css');

@font-face {
  font-family: 'Fixel';
  src: url(../fonts/FixelText-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixel';
  src: url(../fonts/FixelText-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'Fixel';
  src: url() format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
} */

@font-face {
  font-family: 'Fixel';
  src: url(../fonts/FixelText-SemiBold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixel';
  src: url(../fonts/FixelText-ExtraBold.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-white: #fff;
  --main-black: #000;
  --accent: #ffb803;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding-top: 55px;
  font-family: 'Fixel', 'Rubik', sans-serif;
  background-color: var(--main-white);
  color: var(--main-black);
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 10px 0px;
  max-width: 400px;
}

section {
  margin: 0 auto;
  background-image: linear-gradient(
      rgb(255, 255, 255, 0.9),
      rgb(255, 255, 255, 0.9)
    ),
    url(../img/bcg.png);
  /* background-size: cover; */
  background-repeat: repeat;
  overflow: hidden;
  padding: 15px 5px 10px;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 10px 0px;
    max-width: 1280px;
  }

  section {
    padding: 20px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: rgb(0, 0, 0, 0.8);
}
