.training-section {
  background-color: var(--main-black);
  background-image: url(../img/training-sky-mob.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.training-section .container {
  color: var(--main-white);
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px 15px 60px;
  gap: 80px;
  position: relative;
}

.training-section .text-accent {
  color: var(--accent);
}

.training-desc-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 125%;
}

.training-desc {
  letter-spacing: 0.04em;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.training-section .text-bold {
  font-weight: 500;
}

.icon-training-school {
  display: block;
  fill: var(--main-white);
  place-self: center;
  width: 220px;
  height: 172px;
}

.training-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media screen and (min-width: 1280px) {
  .training-section .container {
    border-radius: 14px;
    background-image: url(../img/training-sky.webp);
    color: var(--main-white);
    grid-template-columns: repeat(2, 1fr);
    padding: 100px 80px;
    gap: 15px;
  }

  .icon-training-school {
    width: 300px;
    height: 200px;
  }

  .training-desc-one {
    margin-bottom: 40px;
    font-size: 24px;
  }

  .training-desc-two {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .training-desc-three {
    font-size: 14px;
  }
}
